<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
    <div class="spinner" *ngIf="_ProductoService.cargando">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
    <div *ngIf="!_ProductoService.cargando" class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4">

        <a *ngFor="let producto of _ProductoService.productos" [routerLink]="['/item',producto.cod]" class="rk-item ae-masonry__item">
            <img src="assets/productos/{{producto.url}}.jpg">
            <div class="item-meta">
                <h2>{{producto.titulo}}</h2>
                <p>{{producto.categoria}}</p>
            </div>
        </a>
    </div>
</section>